# Ignore IDE files
**/.idea/
**/.vscode/
**/.venv/
**/.zed/

# Ignore temporary files
**/__pycache__/
**/__private/
**.ruff_cache/
**.backup/
*.pyc
*.swp
*.bak
*~
\#*\#
*_bak*.hdanc

# Renders / image sequences
*.exr
*.dpx
*.mov
*.mp4
*.avi
*.mkv

# Houdini / DCC cache-ish output
*.sim
*.bgeo
*.bgeo.sc
*.vdb
*.abc
*.usd
*.usdc
*.usda

# Editor/backups
*~
*.tmp
*.bak
*.swp
*.sh#

# Generated indexes
*.idx

# Ignore keys
env.py
env_sg.py

# Ignore proprietary plugins
src/dcc/houdini/third_party/axiom

# Ignore third-party Python libraries
src/dcc/maya/third_party/rjg

# Ignore user specific splash screens
resources/splash/users

# Ignore flashbangs
resources/flashbang
