[Desktop Entry]
Version=1.0
Name=Bobini
Name[en_US]=Bobini
Comment=Honey Buisness's Houdini environment
Comment[en_US.UTF-8]=Honey Buissnes's Houdini environment
Exec=/groups/bobo/pipeline/pipeline/__main__.py houdini
Icon=/groups/dungeons/pipeline/pipeline/lib/icon/houdini.png
Terminal=false
Type=Application
Categories=Utility;

