[Desktop Entry]
Version=1.0
Name=Dungini
Name[en_US]=Dungini
Comment=Love & Dungeon's Houdini environment
Comment[en_US.UTF-8]=Love & Dungeon's Houdini environment
Exec=/groups/dungeons/pipeline/pipeline/__main__.py houdini
Icon=/groups/dungeons/pipeline/pipeline/lib/icon/houdini.png
Terminal=false
Type=Application
Categories=Utility;

